<h3>在庫の少ないものはありませんか？</h3>

<table>
  <% items.each do |item| %>
    <tr>
      <td><%= attachment_image_tag item, :image, :fill,30,30, fallback: "no-image.png", size: "30x30" %></td>
      <td><%= link_to item.name, item_path(item) %></td>
      <td><%= item.item_category.name %></td>
      <td><%= item.quantity %></td>
    </tr>
  <% end %>
  <tr><%= link_to "管理画面へ行く", items_path %></tr>
</table>