<h1>マイページ</h1>

<%= @user.name %>

<div>
  <%= link_to "期限を管理する", foods_path %>
</div>

<div>
  <%= link_to "在庫を管理する", items_path %>
</div>

<!--期限をカレンダーで表示-->
<%= render "users/foods", foods: @foods %>

<!--在庫の少ないitem-->
<%= render "users/items", items: @items %>