<div class="row main-item">
  <div class="col">
    <h2>期限の管理</h2>

    <%= render "foods/form", food: @food %>

    <%= render "foods/categories", food_categories: @food_categories %>

    <div class="sort-item mb-2">
      <%= link_to "期限の短い順", foods_path(sort_short_foods: "true"), class: "btn sort-btn" %>
      <%= link_to "期限の長い順", foods_path(sort_long_foods: "true"), class: "btn sort-btn" %>
    </div>

    <%= render "foods/list", foods: @foods %>

    <%= link_to "←マイページに戻る", user_path(current_user) %>
  </div>
</div>
