<div class="row">
  <div class="col">
    <h2>期限管理</h2>

    <%= render "foods/form", food: @food %>

    <%= render "foods/categories", food_categories: @food_categories %>
    <span>絞り込み＞<%= @food_category.name %></span>

    <% if @foods.empty? %>
      <p>このカテゴリに該当する商品の登録がありません</p>
    <% else %>
      <div class="sort-item mb-2">
        <%= link_to "期限の短い順", food_category_search_path(sort_short_foods: "true", food_category_id: @food_category.id), class: "btn sort-btn" %>
        <%= link_to "期限の長い順", food_category_search_path(sort_long_foods: "true", food_category_id: @food_category.id), class: "btn sort-btn" %>
      </div>

      <%= render "foods/list", foods: @foods %>
    <% end %>

    <%= link_to "←一覧へ戻る", foods_path %>
  </div>
</div>
